<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beesinergi.mapper.MenuMapper">

	<resultMap id="BaseResultMap" type="com.beesinergi.model.AppMenu">
		<id column="pk_menu" property="pkMenu" />
		<result column="menu_code" property="menuCode" />
		<result column="sub_menu" property="subMenu" />
		<result column="menu_order" property="menuOrder" />
		<result column="page_name" property="pageName" />
		<result column="created_date" property="createdDate" />
		<result column="created_by" property="createdBy" />
		<result column="changed_date" property="changedDate" />
		<result column="changed_by" property="changedBy" />
	</resultMap>
	
	<select id="selectAll" parameterType="com.beesinergi.model.AppMenu" resultMap="BaseResultMap">
		select 
			a.*
		from app_menu a
		where 1 = 1
			<if test="isActive != null">
				and a.is_active = #{isActive}
			</if>
		order by a.menu_order asc	
	</select>
	
</mapper>