<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beesinergi.mapper.PelajaranMapper">

	<resultMap id="BaseResultMap" type="com.beesinergi.model.Pelajaran">
		<id column="pk_pelajaran" property="pkPelajaran" />
		<result column="kode_pelajaran" property="kodePelajaran" />
		<result column="nama_pelajaran" property="namaPelajaran" />
		<result column="created_date" property="createdDate" />
		<result column="created_by" property="createdBy" />
		<result column="changed_date" property="changedDate" />
		<result column="changed_by" property="changedBy" />
		<result column="is_active" property="isActive" />
	</resultMap>
	
	<select id="selectAll" parameterType="com.beesinergi.model.Pelajaran" resultMap="BaseResultMap">
		select 
			a.*
		from pelajaran a
		<where>
			<if test="pkPelajaran != null">
				and a.pk_pelajaran = #{pkPelajaran}
			</if>
		</where>	
		order by a.pk_pelajaran asc	
	</select>
	
	<select id="selectCount" parameterType="com.beesinergi.model.Pelajaran" resultType="java.lang.Integer">
    	select count(*) from pelajaran a
  	</select>
	
	<insert id="insert" parameterType="com.beesinergi.model.Pelajaran">
		insert into pelajaran ( 
			kode_pelajaran,
			nama_pelajaran,
			created_date, 
			created_by
		) values (
			#{kodePelajaran},
			#{namaPelajaran},
			#{createdDate},
			#{createdBy}
      )
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.beesinergi.model.Pelajaran">
		update pelajaran
    	set 
    		kode_pelajaran = #{kodePelajaran},
    		nama_pelajaran = #{namaPelajaran},
	      	changed_date = #{changedDate},
	      	changed_by = #{changedBy}
		where pk_pelajaran = #{pkPelajaran}
	</update> 
	
</mapper>