<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beesinergi.mapper.PendaftaranDetailMapper">
	
	<insert id="insert" parameterType="com.beesinergi.model.PendaftaranDetail">
		insert into pendaftaran_detail ( 
			fk_pendaftaran,
			fk_pelajaran,
			nilai
		) values (
			#{fkPendaftaran},
			#{fkPelajaran},
			#{nilai}
      )
	</insert>
	
	<delete id="deleteByFkPendaftaran" parameterType="java.lang.Integer">
		delete from pendaftaran_detail where fk_pendaftaran = #{fkPendaftaran}
	</delete>

</mapper>