<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beesinergi.mapper.ProductMapper">

	<resultMap id="BaseResultMap" type="com.beesinergi.model.Product">
		<id column="pk_product" property="pkProduct" />
		<result column="product_code" property="productCode" />
		<result column="product_name" property="productName" />
		<result column="fk_category" property="fkCategory" />
		<result column="fk_unit" property="fkUnit" />
		<result column="basic_price" property="basicPrice" />
		<result column="sell_price" property="sellPrice" />
		<result column="qty" property="qty" />
		<result column="merk" property="merk" />
		<result column="made_in" property="madeIn" />
		<result column="created_date" property="createdDate" />
		<result column="created_by" property="createdBy" />
		<result column="changed_date" property="changedDate" />
		<result column="changed_by" property="changedBy" />
		<result column="is_active" property="isActive" />
		
		<result column="category_name" property="categoryName" />
		<result column="unit_name" property="unitName" />
	</resultMap>
	
	<select id="selectAll" parameterType="com.beesinergi.model.Product" resultMap="BaseResultMap">
		select 
			a.*,
			b.lookup_name as category_name,
			c.lookup_name as unit_name
		from product a
			inner join lookup b on a.fk_category = b.pk_lookup
			inner join lookup c on a.fk_unit = c.pk_lookup
		where 1 = 1
			<if test="pkProduct != null">
				and a.pk_product = #{pkProduct}
			</if>
			<if test="productName != null">
				and lower(a.product_name) like #{productName}
			</if>
			<if test="isActive != null">
				and a.is_active = #{isActive}
			</if>
			<if test="fkCategory != null">
				and a.fk_category = #{fkCategory}
			</if>
		order by a.product_code asc	
	</select>
	
	<select id="selectCount" parameterType="com.beesinergi.model.Product" resultType="java.lang.Integer">
    	select count(*) from product a
    	where 1 = 1
    		<if test="isActive != null">
				and a.is_active = #{isActive}
			</if>
			<if test="productName != null">
				and lower(a.product_name) like #{productName}
			</if>
  	</select>
	
	<insert id="insert" parameterType="com.beesinergi.model.Product">
		insert into product ( 
			product_code,
			product_name,
		  	fk_category,
		  	fk_unit,
		  	basic_price,
		  	sell_price,
		  	qty,
		  	merk,
		  	made_in,
			is_active, 
			created_date, 
			created_by
		) values (
			#{productCode},
			#{productName},
			#{fkCategory},
			#{fkUnit},
			#{basicPrice},
			#{sellPrice},
			#{qty},
			#{merk},
			#{madeIn},
			#{isActive},
			#{createdDate},
			#{createdBy}
      )
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.beesinergi.model.Product">
		update product
    	set 
	      	product_code = #{productCode},
	      	product_name = #{productName},
		  	fk_category = #{fkCategory},
		  	fk_unit = #{fkUnit},
		  	basic_price = #{basicPrice},
		  	sell_price = #{sellPrice},
		  	qty = #{qty},
		  	merk = #{merk},
		  	made_in = #{madeIn},
	      	is_active = #{isActive},
	      	changed_date = #{changedDate},
	      	changed_by = #{changedBy}
		where pk_product = #{pkProduct}
	</update> 
	
</mapper>