<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beesinergi.mapper.PurchaseDetailMapper">

	<insert id="insert" parameterType="com.beesinergi.model.PurchaseDetail">
		insert into purchase_detail ( 
			fk_purchase,
			fk_product,
			qty,
			price,
			total
		) values (
			#{fkPurchase},
			#{fkProduct},
			#{qty},
			#{price},
			#{total}
      )
	</insert>
	
	<delete id="deleteByFkPurchase" parameterType="java.lang.Integer">
		delete from purchase_detail where fk_purchase = #{fkPurchase}
	</delete>

</mapper>