<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beesinergi.mapper.SoalMapper">

	<resultMap id="BaseResultMap" type="com.beesinergi.model.Soal">
		<id column="pk_soal" property="pkSoal" />
		<result column="fk_pelajaran" property="fkPelajaran" />
		<result column="soal_pelajaran" property="soalPelajaran" />
		<result column="pilihan_a" property="pilihanA" />
		<result column="pilihan_b" property="pilihanB" />
		<result column="pilihan_c" property="pilihanC" />
		<result column="pilihan_d" property="pilihanD" />
		<result column="pilihan_e" property="pilihanE" />
		<result column="jawaban" property="jawaban" />
		<result column="created_date" property="createdDate" />
		<result column="created_by" property="createdBy" />
		<result column="changed_date" property="changedDate" />
		<result column="changed_by" property="changedBy" />
		
		<result column="nama_pelajaran" property="namaPelajaran" />
	</resultMap>
	
	<select id="selectAll" parameterType="com.beesinergi.model.Soal" resultMap="BaseResultMap">
		select 
			*
		from soal a
			join pelajaran b on b.pk_pelajaran = a.fk_pelajaran
		where 1 = 1
			<if test="pkSoal != null">
				and a.pk_soal = #{pkSoal}
			</if>
			<if test="fkPelajaran != null">
				and a.fk_pelajaran = #{fkPelajaran}
			</if>
		order by a.pk_soal asc	
	</select>
	
	<select id="selectCount" parameterType="com.beesinergi.model.Soal" resultType="java.lang.Integer">
    	select count(*) from soal a
    	where 1 = 1
  	</select>
	
	<insert id="insert" parameterType="com.beesinergi.model.Soal" useGeneratedKeys="true" keyProperty="pkSoal" keyColumn="pk_soal">
		insert into soal ( 
			fk_pelajaran,
			soal_pelajaran,
			level,
			pilihan_a,
			pilihan_b,
			pilihan_c,
			pilihan_d,
			pilihan_e,
			jawaban,
			created_date, 
			created_by
		) values (
			#{fkPelajaran},
			#{soalPelajaran},
			#{level},
			#{pilihanA},
			#{pilihanB},
			#{pilihanC},
			#{pilihanD},
			#{pilihanE},
			#{jawaban},
			#{createdDate},
			#{createdBy}
      )
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.beesinergi.model.Soal">
		update soal
    	set 
    		fk_pelajaran = #{fkPelajaran},
    		soal_pelajaran = #{soalPelajaran},
    		level = #{level},
    		pilihan_a = #{pilihanA},
    		pilihan_b = #{pilihanB},
    		pilihan_c = #{pilihanC},
    		pilihan_d = #{pilihanD},
    		pilihan_e = #{pilihanE},
    		jawaban = #{jawaban},
	      	changed_date = #{changedDate},
	      	changed_by = #{changedBy}
		where pk_soal = #{pkSoal}
	</update> 
	
</mapper>