<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beesinergi.mapper.StockMapper">

	<resultMap id="BaseResultMap" type="com.beesinergi.model.Stock">
		<result column="pk_stock" property="pkStock" />
		<result column="fk_product" property="fkProduct" />
		<result column="trx_date" property="trxDate" />
		<result column="trx_no" property="trxNo" />
		<result column="trx_type" property="trxType" />
		<result column="trx_qty" property="trxQty" />
		<result column="start_stock" property="startStock" />
		<result column="end_stock" property="endStock" />
		
		<result column="product_name" property="productName" />
	</resultMap>	
	
	<select id="selectAll" parameterType="com.beesinergi.model.Stock" resultMap="BaseResultMap">
		select 
			a.*,
			b.product_name
		from stock a
			inner join product b on b.pk_product = a.fk_product
		where 1 = 1
		order by b.product_name, a.trx_date asc	
	</select>
	
	<select id="selectCount" parameterType="com.beesinergi.model.Stock" resultType="java.lang.Integer">
    	select count(*) from stock a
    	where 1 = 1
  	</select>
  	
  	<insert id="insert" parameterType="com.beesinergi.model.Stock">
		insert into stock ( 
			fk_product,
			trx_date,
		  	trx_no,
		  	trx_type,
		  	trx_qty,
		  	start_stock,
		  	end_stock,
			created_date, 
			created_by
		) values (
			#{fkProduct},
			#{trxDate},
			#{trxNo},
			#{trxType},
			#{trxQty},
			#{startStock},
			#{endStock},
			#{createdDate},
			#{createdBy}
      )
	</insert>
	
	<delete id="deleteByTrxNo" parameterType="java.lang.String">
		delete from stock where trx_no = #{trxNo}
	</delete>
	
</mapper>