<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beesinergi.mapper.VendorMapper">

	<resultMap id="BaseResultMap" type="com.beesinergi.model.Vendor">
		<id column="pk_vendor" jdbcType="INTEGER" property="pkVendor" />
		<result column="vendor_code" jdbcType="VARCHAR" property="vendorCode" />
		<result column="vendor_name" jdbcType="VARCHAR" property="vendorName" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
		<result column="country" jdbcType="VARCHAR" property="country" />
		<result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
		<result column="fax_no" jdbcType="VARCHAR" property="faxNo" />
		<result column="bank_name" jdbcType="VARCHAR" property="bankName" />
		<result column="account_no" jdbcType="VARCHAR" property="accountNo" />
		<result column="account_name" jdbcType="VARCHAR" property="accountName" />
		<result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="created_date" jdbcType="DATE" property="createdDate" />
		<result column="created_by" jdbcType="VARCHAR" property="createdBy" />
		<result column="changed_date" jdbcType="DATE" property="changedDate" />
		<result column="changed_by" jdbcType="VARCHAR" property="changedBy" />
		<result column="is_active" jdbcType="VARCHAR" property="isActive" />
	</resultMap>
	
	<select id="selectAll" parameterType="com.beesinergi.model.Vendor" resultMap="BaseResultMap">
		select 
			a.*
		from vendor a
		where 1 = 1
			<if test="isActive != null">
				and a.is_active = #{isActive}
			</if>
			<if test="vendorName != null">
				and lower(a.vendor_name) like #{vendorName}
			</if>
		order by a.vendor_code asc	
	</select>
	
	<select id="selectCount" parameterType="com.beesinergi.model.Vendor" resultType="java.lang.Integer">
    	select count(*) from vendor a
    	where 1 = 1
    		<if test="isActive != null">
				and a.is_active = #{isActive}
			</if>
			<if test="vendorName != null">
				and lower(a.vendor_name) like #{vendorName}
			</if>
  	</select>
	
	<insert id="insert" parameterType="com.beesinergi.model.Vendor">
		insert into vendor ( 
			vendor_code,
			vendor_name, 
			address,
			city, 
			province,
			postal_code, 
			country,
			phone_no, 
			fax_no,
			bank_name, 
			account_no,
			account_name, 
			contact_person,
			email, 
			is_active, 
			created_date, 
			created_by
		) values (
			#{vendorCode},
			#{vendorName},
			#{address},
			#{city},
			#{province},
			#{postalCode},
			#{country},
			#{phoneNo},
			#{faxNo},
			#{bankName},
			#{accountNo},
			#{accountName},
			#{contactPerson},
			#{email},
			#{isActive},
			#{createdDate},
			#{createdBy}
      )
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.beesinergi.model.Vendor">
		update vendor
    	set 
	      	vendor_code = #{vendorCode},
			vendor_name = #{vendorName}, 
			address = #{address},
			city = #{city}, 
			province = #{province},
			postal_code = #{postalCode}, 
			country = #{country},
			phone_no = #{phoneNo}, 
			fax_no = #{faxNo},
			bank_name = #{bankName},
			account_no = #{accountNo},
			account_name = #{accountName},
			contact_person = #{contactPerson},
			email = #{email},
	      	is_active = #{isActive},
	      	changed_date = #{changedDate},
	      	changed_by = #{changedBy}
		where pk_vendor = #{pkVendor}
	</update> 
	
</mapper>